html{
  box-sizing: inherit;
}
body {
  font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}


.products{
  text-align: center;
}
form, .form-group{
  padding:10px;
  margin:10px 0;
}

  .nav{
    text-align: center;
  }

  .nav-back{
      background: white;
      color: #fff;
  }
  .navbar-brand{
    color: #000;
  }
  .navbar-brand:hover{
    color: gray;
  }
  .nav-link{
    color: black;
  }
  .nav-link:hover{
    color:gray;
  }
  .navbar-toggler{
    outline: none!important;
  }



footer {
    text-align: center;
    padding-left: 60px;
    font-size: 1rem;
    }

.navbar-icon{
  background-image:url(images/icon.png);
}

.hcontent {
  margin-top: 10%;
  align-items: center;
  position: absolute;
  top: 13vw;
  width: 100vw;
  left: 50%;
  margin-left: calc(-50vw);
  text-align: center;
  color: white;
  font-size: 8vw;
  letter-spacing: 3px;
  text-shadow: 3px 3px #000000;
  padding-bottom: 3%;
}

.header-img{
  filter: brightness(50%);
}
.logo-txt{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section{
  padding-top: 60px;
}

.sales-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: 10px;
    grid-gap: 15px;
    text-align: center;
}

.heading{
  padding-bottom: 10px;
  padding-left: 60px;
  text-align: center;
}
.salon-info{

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 15px;
  grid-gap: 15px;
  padding-left: 550px;
  text-align: center;

}

.number, .appt{
  color:white;
}

.og-price, .sale{
  display: inline;
}

.dark-mode {
       background-color: black;
       color: white;
     }
 .light-mode {
       background-color: white;
       color: black;
 }

button{
    font-size: 2vw;
    margin: 0px;
    color: black;
    padding: 1%;
    border-color: white;
}
.s-title{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.p-title{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;

}
.service {
  float: left;
  width: 33%;
  padding-left: 45px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.my-4{
  padding-top: 40px;
  padding-bottom: 15px;
  padding-right:45px;
}
