html{
  box-sizing: inherit;
}
body {
  font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

form, .form-group{
  padding:10px;
  margin:10px 0;
}
.header {
  padding: 90px 60px;
  text-align: center;
  background-image:url(images/logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
  font-size: 30px;
}
  .nav{
    text-align: center;
  }

.footer {
    text-align: center;
    font-size: 0.9rem;
    background:#cd853f;
    }
.footer .btn-back{
    background: #fff;
    color: #00d9ff;
    }
.footer .text{
    color: #000;
  }
.navbar-icon{
  background-image:url(images/icon.png);
}
